<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="dist/vuep.css">
  <link rel="stylesheet" href="node_modules/codemirror/addon/hint/show-hint.css">
</head>
<body>
  <div id="app" style="max-width: 800px; margin: auto;">
    <vuep @input="change" v-model="value"></vuep>
    <textarea v-model="value" rows="30" cols="100"></textarea>
  </div>

<script v-pre type="text/x-template" id="example">
<style>
  .main {
    color: #2c3e50;
  }
  .text {
    color: #4fc08d;
  }
</style>

<template>
  <div class="main">
    <h2> Hello <span class="text">{{ name }}</span>!</h2>
    <h2>Features</h2>
    <ul>
      <li v-for="text in features">{{ text }}</li>
    </ul>
  </div>
</template>

<script>
  module.exports = {
    data () {
      return {
        name: 'Vuep',
        features: [
          'Vue component spec',
          'Scoped style',
          'UMD and CommonJS build'
        ]
      }
    }
  }
</script>
</script>

<!-- <script src="https://unpkg.com/babel-standalone/babel.min.js"></script> -->
<!-- <script src="https://cdn.rawgit.com/reverland/babel-plugin-transform-vue-jsx/4d36bff3/dist/babel-plugin-transform-vue-jsx.min.js"></script> -->
<script src="node_modules/codemirror/lib/codemirror.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="dist/vuep.js"></script>

<script>
  new Vue({
    data: () => ({
      value: `module.exports = {
  template: '<div>I\\'am {{ name }}</div>',

  data: function () {
    return { name: 'cinwell' }
  }
}`
    }),

    methods: {
      change(val) {
        // console.log(val)
      }
    }
  }).$mount('#app')
</script>
