@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

.vuep {
  display: flex;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  height: 400px;
}

.vuep-editor, .vuep-preview, .vuep-error {
  border-radius: 2px;
  height: inherit;
  margin-right: 10px;
  overflow: scroll;
  width: 50%;

  &:last-child {
    margin-right: 0;
  }

  .CodeMirror {
    height: inherit;
  }
}

.vuep-editor {
  line-height: 1.2em;
}

.vuep-error {
  color: #f66;
}

.vuep-preview, .vuep-error {
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 25px 35px;
}

@media (max-width: 600px) {
  .vuep {
    display: block;
    height: auto;
  }

  .vuep-editor, .vuep-preview, .vuep-error {
    margin: 0 0 15px 0;
    height: 400px;
    width: 100%;
  }
}
